{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if user is not null %}
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="row align-items-baseline">
                    <span class="product_page_year mt-3 mr-2"><b>Detalles de la cuenta</b> </span>
                </div>
                <div class="row align-items-baseline">
                    <span class="product_page_description mt-2 mr-2"><b>Nombre:</b> </span> <span class="product_page_description">{{user.personalization.name}}</span>
                </div>
                <div class="row align-items-baseline">
                    <span class="product_page_description mt-2 mr-2"><b>Apellido paterno:</b> </span> <span class="product_page_description">{{user.personalization.fatherLastName}}</span>
                </div>
                <div class="row align-items-baseline">
                    <span class="product_page_description mt-2 mr-2"><b>Apellido materno:</b> </span> <span class="product_page_description">{{user.personalization.motherLastName}}</span>
                </div>
            </div>
            <div class="col-12 col-lg-12">
                <div class="row align-items-baseline my-lg-3">
                    <span class="product_page_year mt-3 mr-2"><b>Productos</b> </span>
                </div>
                <div class="row">
                    {% for product in pagination.items %}
                        {% if product.isVisible %}
                            <div class="col-12 col-lg-3">
                                <el-link :underline="false" href="{{ path("product_details", {id: product.id}) }}">
                                    <div class="d-flex flex-column">
                                        <div class="product_small_image">
                                            <img class="image-cover" src="{{asset('uploads/products/'~ product.images[0].name)}}" alt="">
                                        </div>

                                        <div class="product_small_title mt-lg-2">{{product.title}}</div>
                                        <div class="product_small_price">${{product.price}}</div>
                                    </div>
                                </el-link>
                            </div>
                            {% endif %}
                    {% endfor %}
                </div>
            {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% else %}
        <div style="width: 80vw; height: 70vh;" class="d-flex justify-content-center align-items-center"><h3>Esta cuenta es privada :c</h3></div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}