{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6 ">
            <div class="row align-items-baseline">
                <span class="product_page_year mt-3 mr-2 d-flex align-items-center">
                    <b>Detalles de la cuenta</b> 
                    <button id="edit" type="button" class="btn btn-primary ml-2 rounded-circle btn btn-sm"><i class="el-icon-edit"></i></button>
                </span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Nombre:</b> </span> <span class="product_page_description">{{app.user.personalization.name}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Apellido paterno:</b> </span> <span class="product_page_description">{{app.user.personalization.fatherLastName}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Apellido materno:</b> </span> <span class="product_page_description">{{app.user.personalization.motherLastName}}</span>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row align-items-baseline">
                <span class="product_page_year mt-3 mr-2 d-flex align-items-center"><b>Informacion de envio</b> <button id="edit" type="button" class="btn btn-primary ml-2 rounded-circle btn btn-sm"><i class="el-icon-edit"></i></button> </span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Estado:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.state.name}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Direccion:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.address}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Codigo postal:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.postalCode}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Descripcion:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.description}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Telefono:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.phone}}</span>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row align-items-baseline">
                <span class="product_page_year mt-3 mr-2"><b>Historial de compras</b> </span>
            </div>
            {% for ticket in app.user.tickets %}
                <div class="row align-items-baseline">
                    <div class="col-12"><span class="product_page_description mt-2 mr-2"><b>Compra #{{loop.index}}</b></span> <span class="product_page_small">({{ticket.createdAt|date("Y-m-d")}})</span></div>
                    <div class="ml-3 ml-lg-5 col-12">
                    {% for sale in ticket.sales %}
                        <div class="row">{{sale.product.title}} x{{sale.quantity}} = {{sale.price}}</div>        
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-6">
            <div class="row align-items-baseline">
                <span class="product_page_year mt-3 mr-2"><b>Subscripciones</b> </span>
            </div>
            {% for subscription in app.user.subscriptions %}
                <div class="row align-items-baseline">
                    <div class="col-12">
                        <span class="product_page_description mt-2 mr-2"><b>Subscripcion #{{loop.index}}</b> <a class="ml-3" href="{{path("account_id", {id: subscription.id})}}">{{subscription.personalization.name}}</a></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{render_personalization (app.user, true, true, false)}}
{% endblock %}

{% block javascripts %}
<script>
    $("#edit").click(() => {
        openPersonalizationForm ();
    })
</script>
{% endblock %}