{% extends 'base.html.twig' %}

{% block title %}POPCollector!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6 ">
            <div class="row align-items-baseline">
                <span class="product_page_year mt-3 mr-2"><b>Detalles de la cuenta</b> </span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Nombre:</b> </span> <span class="product_page_description">{{app.user.personalization.name}}</span>
            </div>
            <div class="row align-items-baseline">
                {# <span class="product_page_description mt-2 mr-2"><b>Apellido paterno:</b> </span> <span class="product_page_description">{{app.user.personalization.fatherLastName}}</span> #}
            </div>
            <div class="row align-items-baseline">
                {# <span class="product_page_description mt-2 mr-2"><b>Apellido materno:</b> </span> <span class="product_page_description">{{app.user.personalization.motherLastName}}</span> #}
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row align-items-baseline">
                <span class="product_page_year mt-3 mr-2"><b>Información de establecimiento</b> </span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Estado:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.state.name}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Dirección:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.address}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Código postal:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.postalCode}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Descripción:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.description}}</span>
            </div>
            <div class="row align-items-baseline">
                <span class="product_page_description mt-2 mr-2"><b>Teléfono:</b> </span> <span class="product_page_description">{{app.user.personalization.shippingAddress.phone}}</span>
            </div>
        </div>
        <div class="col-12 col-lg-6" style="max-height: 600px; overflow-y: auto; overflow-x: hidden;">
            <div class="row align-items-baseline">
                <span class="product_page_year mt-3 mr-2"><b>Historial de ventas</b> </span>
            </div>
            {% for ticket in app.user.sales %}
                <div class="row align-items-baseline">
                    <div class="col-12"><span class="product_page_description mt-2 mr-2"><b>Venta #{{loop.index}}</b></span> <span class="product_page_small">({{ticket.createdAt|date("Y-m-d")}})</span></div>
                    <div class="ml-3 ml-lg-5 col-12">
                        <div class="row">{{ticket.product.title}} x{{ticket.quantity}} = {{ticket.price}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-12 col-lg-12">
            <div class="row align-items-baseline my-lg-3">
                <span class="product_page_year mt-3 mr-2"><b>Productos</b> </span>
            </div>
            <div class="row">
                {% for product in pagination.items %}
                    {% if product.isVisible %}
                        <div class="col-12 col-lg-3">
                            {{render_product(product)}}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}