{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <el-form id="form" :loading="loading">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="container text-center">
			<h2 class ="mt-4"> Regístrate ahora </h2>
        </div>
        <div class="container" style="width: 90%">
            <div class="row mt-2">
                <label for="inputEmail">Correo Electrónico</label>
                <input type="email" placeholder="Correo electrónico" value="" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div class="row mt-2">
                <label for="inputPassword">Contraseña</label>
                <input type="password" placeholder="Contraseña" name="password" id="inputPassword" class="form-control" required>
            </div>
            <div class="row mt-2">
                <label for="inputPassword">Confirmar contraseña</label>
                <input type="password" placeholder="Confirmar contraseña" name="password2" id="inputPassword2" class="form-control" required>
            </div>
            
            <div class="row mt-2">
                <label for="checkType">Tipo de cuenta</label>
            </div>
            <div class="row">
                <div class="form-check mr-1" id="checkType">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="accountType" value="buyer">Comprador
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="accountType" value="seller">Vendedor
                    </label>
                </div>
            </div>            

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="d-flex mt-4 justify-content-center">
                <button id="crearCuenta" class="btn btn-sm btn-primary mr-1" type="submit">
                    Crear cuenta
                </button>
                <a href="{{ path('app_login') }}">
                    <button class="btn btn-sm btn-info mr-1" type="button">
                        Iniciar sesion
                    </button>
                </a>
            </div>
        </div>
    </el-form>
{% endblock %}

{% block javascripts %}
    <script>
        let vueInst = new Vue({
            el: "#form",
            data () {
                return {
                    loading: false,
                }
            },
            created () {
            },
            methods: {
                setLoading (status) {
                    this.loading = status
                }
            }
        })
        $(document).ready(() => {
            $("#form").submit((e) => {
                e.preventDefault();

                let email = $("#inputEmail").val();
                let password = $("#inputPassword").val();
                let accountType = $("input:radio[name ='accountType']:checked").val();

                console.log($("#inputPassword").val(), $("#inputPassword2").val(), $("#inputPassword").val() === $("#inputPassword2").val())
                if (password  === $("#inputPassword2").val() ) {
                    console.log("Ira nomas voy a crear un usuario")
                    vueInst.setLoading(true)
                    $.post("{{ path('app_user_save') }}", {email, password, accountType})
                    .done(() => {
                        vueInst.setLoading(false)
                        vueInst.$notify({
                            title: 'Éxito',
                            message: 'Se han creado el usuario',
                            type: 'success'
                        });
                        setTimeout(() => {
                            document.location.replace("{{ path('app_login') }}")
                        }, 1000);
                    })
                    .fail((e) => {
                        vueInst.setLoading(false)
                        console.error(e);
                        vueInst.$notify({
                            title: 'Error',
                            message: 'Se ha producido un error.',
                            type: 'error'
                        })
                    })
                } else {
                    vueInst.$notify({
                        title: "Error",
                        message: "Las contraseñas no coinciden",
                        type: "error",
                    })
                }
            })
        })
    </script>
{% endblock %}