{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form id="form" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class = "container text-center">
            <h2 class="mt-4">Inicia sesión con tu cuenta</h2>
        </div>
        
        <div class="container text-center">
            <div class="mt-5" >
                <label for="inputEmail">Correo Electrónico</label>
                <input type="email" placeholder="Correo electrónico" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Contraseña</label>
                <input type="password" placeholder="Contraseña" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-primary btn-lg bg-dark mt-3" type="submit">
                    Iniciar sesión
                </button>

                <div class="row justify-content-center mt-2">
                    <button id="crearCuenta" class="btn btn-secondary btn-lg" type="button">
                        Regístrate aquí
                    </button>
                </div>
                <div class="row justify-content-center mt-2">
                    <a id="recuperarCuenta" style="color: blue; text-decoration: underline"> ¿Olvidaste tu contraseña? </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        let vueIns = new Vue({
            el: "#form",
        })
        $(document).ready(() => {
            let crearUrl = "{{ path('home_create_account') }}"
            $("#crearCuenta").click(() => {
                location.href = crearUrl
            })

            let recuperaUrl = "{{ path('app_forgot_password_request') }}"
            $("#recuperarCuenta").click(() => {
                location.href = recuperaUrl
            })
        })

        {% for message in app.flashes('newAccount') %}
            vueIns.$notify({
                type: "info",
                message: "{{message}}",
                title: "Cuenta creada",
                showClose: false,
                duration: 7500,
            })
        {% endfor %}
    </script>
{% endblock %}