{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="row" id="prod">
    {% if product != null %}
        <div class="col-12 col-lg-5">
            <!-- Slider main container -->            
            <div class="swiper-container main-carousel h-100">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for image in product.images %}
                        <div class="swiper-slide product_page_image">
                            <img class="image-cover" src="{{ asset("uploads/products/" ~ image.name) }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="col-12 col-lg-7">   
            <div class="product_page_title mt-5 mt-lg-0 d-flex align-items-center">{{product.title}}
                {% if product.verified is not null %}
                    {% if product.verified %}
                        <div class="c-tooltip_container">
                            <el-icon class="el-icon-check product_verification-status_success"></el-icon>
                            <span class="c-tooltip">Aprobado</span>
                        </div>
                    {% else %}
                        <div class="c-tooltip_container">
                            <el-icon class="el-icon-close product_verification-status_failure"></el-icon>
                            <span class="c-tooltip">No aprobado</span>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="w-100 mb-2"> <small class="text-muted"> Vendedor: <a href="{{path("account_id", {id: product.publisher.id})}}">{{product.publisher.personalization.name}}</a></small></div>
            <div class="product_page_year">Distribuidor: {{product.distribuitor}} </div>
            <div class="product_page_year">Director: {{product.author}} <small class="text-muted">({{product.year}})</small> </div>
            <div class="product_page_year">Precio: ${{product.price}} <small class="text-muted">({{product.stock}} disponibles)</small></div>
            <div class="product_page_description mt-4 mt-lg-4">{{product.description}}</div>

            {% if app.user.id|default(null) != product.publisher.id and app.user.id|default(null) != null and verificator != true %}
                <div class="row justify-content-around mt-4 mt-lg-3">
                    <div class="col-6 col-lg-3">
                        <form action="{{path('cart_add')}}">
                            <div class="row">
                                <div class="col-7">
                                    <div class="row"><input id="quantity" name="quantity" min="0" max="{{product.stock}}" type="number" class="form-control" placeholder="Cantidad"/></div>
                                </div>
                                <div class="col-5"><button id="submit" type="button" class="btn btn-primary mb-2">Comprar</button></div>
                            </div>
                            <input hidden type="text" id="idProduct" name="idProduct" value="{{product.id}}">
                        </form>
                    </div>
                    <button id="wishlist" type="button" class="btn btn-info mb-2">Añadir a Wishlist</button>
                    {% if product.verified != true %}
                        <button id="verification" type="button" class="btn btn-warning mb-2">Solicitar Verificacion</button>
                    {% endif %}
                </div>
            {% elseif app.user.id|default(null) == product.publisher.id %}
                <div class="row justify-content-around mt-lg-3">
                    <div class="col-6 col-lg-3">
                        <form method="GET" action="{{path('product_create')}}">
                            <input hidden type="text" id="productID" name="productID" value="{{product.id}}">
                            <input hidden type="text" id="idType" name="idType" value="{{product.productType.id}}">
                            <div class="col-5"><button type="submit" class="btn btn-primary mb-2">Editar</button></div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if verificator %}
            <div class="col-12 mb-4 mt-5 mt-lg-5 mb-lg-3">
                <div class="row">
                    <span class="product_page_title">Verificar</span>
                </div>
                <div class="row">
                    <div class="w-100 text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="approved">
                            <label class="custom-control-label" for="approved">Aprovado</label>
                        </div>
                        <textarea id="ver-comments" name="comments" class="form-control" placeholder="Comentarios" rows="5"></textarea>
                        <button id="verificate" type="verificate" class="btn btn-primary mt-2">Enviar veredicto</button>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if app.user.id|default(null) == product.publisher.id and product.verified != null %}
            <div class="col-12 mb-4 mt-5 mt-lg-5 mb-lg-3">
                <div class="row">
                    <span class="product_page_title">Comentarios de verificador <small class="text-muted product_page_year">(Sólo tu puedes ver esto)</small></span>
                </div>

                <div class="product_page_description mt-4 mt-lg-4">{{product.verificationComments}}</div>
            </div>
        {% endif %}
        

        <div class="col-12 mb-4 mt-5 mt-lg-5 mb-lg-3">
            <div class="row">
                <span class="product_page_title">Relacionados</span>
            </div>

            <div class="row owl-carousel owl-carousel owl-theme">
                {% for product in related %}
                    <div class="product_small_container">
                        {{render_product(product)}}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>El producto no existe o fue desabilitado :c</h1>
    {% endif %}
    
    
</div>
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(() => {
        // Select your input element.
        var numInput = document.querySelector('#quantity');
        // console.log("Quantity", numInput)

        // Listen for input event on numInput.
        numInput.addEventListener('input', function(){
            // Let's match only digits.
            var num = this.value.match(/^\d+$/);
            if (num === null) {
                // If we have no match, value will be empty.
                this.value = "";
            }
        }, false)
    })

        let vueProd = new Vue({
            el: "#prod",
        })
        
        $("#submit").click(e => {
            let quantity = $("#quantity").val();
            let idProduct = $("#idProduct").val();

            if (Number(quantity) > {{product.stock}}) {
                vueProd.$notify({
                    title: "Stock insuficiente",
                    type: "error",
                    message: "No hay tantos productos disponibles"
                })
                return;
            }

            vueProd.$notify({
                title: "Añadiendo producto",
                type: "info",
                message: "Por favor espere"
            })

            $("#submit").prop("disabled", true);
            $.post("{{path('cart_add')}}", {quantity, idProduct}).then(res => {
                $("#submit").prop("disabled", false);
                vueProd.$notify({
                    title: "Producto añadido",
                    type: "success",
                    message: "Por favor espere"
                })
                window.location.reload()
            }).catch(err => {
                vueProd.$notify({
                    title: "Error",
                    type: "error",
                    message: "Ocurrio un error"
                })
            })
        });

        $("#wishlist").click(e => {
            $.get("{{path("product_wishlist", {idProduct: product.id})}}").then((res) => {
                vueProd.$notify({
                    title: "Añadido a wishlist",
                    type: "success",
                    message: "Todo correcto"
                })
                window.location.reload()
            }).catch(err => {
                vueProd.$notify({
                    title: "Error",
                    type: "error",
                    message: "Ocurrio un error"
                })
            })
        })

        $("#verification").click(e => {
            $.post("{{path("product_verification", {idProduct: product.id})}}").then((res) => {
                console.log("res", res);
                vueProd.$notify({
                    title: "Verificacion solicitada",
                    type: "success",
                    message: "Todo correcto"
                })
            }).catch(err => {
                console.log("err", err);
                let message = "Ocurrio un error";
                let type = "error";
                let title = "Error";
                if (err.status == 409) {
                    message = "Alguien ya ha solicitado la verificacion de este producto"
                    type = "info"
                    title = "Verificacion solicitada"
                }
                vueProd.$notify({
                    title,
                    type,
                    message,
                })
            })
        })

        $("#verificate").click(e => {
            let approved = ($("#approved").is(":checked"))? 1:0;
            let verComments = $("#ver-comments").val();
            let id = "{{product.verifications.id|default(0)}}"
            $.post("{{path("product_verificate")}}", {approved, verComments, id}).then((res) => {
                console.log("res", res);
                vueProd.$notify({
                    title: "Verificacion publicada",
                    type: "success",
                    message: "Todo correcto"
                })
                window.location.reload()
            }).catch(err => {
                console.log("err", err);
                let message = "Ocurrio un error";
                let type = "error";
                let title = "Error";
                vueProd.$notify({
                    title,
                    type,
                    message,
                })
            })
        })
    </script>
{% endblock %}