<div class="toolbar">
    <div class="container px-0">
        
        <toolbar-component 
        user="{{ (user)? app.user|serialize : null}}" mainmenuopts="{{mainMenuOpts|serialize}}" login="{{path("app_login")}}" logo="{{ asset('images/magiarecord_logo-chido.png') }}"
        currentcategory="{{currentCategory|default(null)}}">
        </toolbar-component>

        <div class="toolbar_submenu_container mx-0">
            <ul class="toolbar_submenu">
                <a href=""><li>Inicio</li></a>
                {% for category in categories %}
                    <a href="{{path('product_all', {category: category.name})}} "><li>{{category.name}}</li></a>
                {% endfor %}
                <a href=""><li>Se busca</li></a>
                <a href=""><li>Contacto</li></a>
            </ul>
        </div>
    </div>
</div>
