<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="view    port"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{asset("images/logo.png")}}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="app">
            <el-container>
                <el-header class="px-0 mx-0" style="height: auto;">
                
                    {{render_toolbar(app.user)}}
                </el-header>
                <el-main>
                    {{render_personalization (app.user)}}
                    <div class ="mr-4 ml-4">
                        {% block body %}{% endblock %}
                    </div>
                </el-main>
                <el-footer class="navbar navbar-default navbar-static-bottom navbar-fixed-bottom text-white bg-dark">                       
                        <p> 2018 © POPCollector.</p>	
                        <a href="#"> 
                            <small>Términos y Condiciones </small>
                        </a>		                                                
                        <a href="#"> 
                            <small>Política de privacidad </small>
                        </a>
                                   
                    {% block footer %}{% endblock %}                    
                </el-footer>
            </el-container>
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
